/* Comments are written between these markers--->*/ 

/*Adds some styles to all <h2> elements*/
h2 {
  text-align: center;
  font-weight: bold;
  color: pink;
}


/* The "body" represents the entire page*/
body {
  background-color: #FFEEEE; /* Makes the body's background pink*/
} 

/* The :hover selector allows you to change how things look when your mouse is hovering over them*/
h2:hover {
  color: blue;
}

/*Add this class to an element to make the text in it blue and bold! 
Eg: <p class="blueAndBold"> HELLO! </p>; */
.blueAndBold {
  color: blue;
  font-weight: bold;
}

/*Add this class to an element to surround it in a stripy border!
Eg. <div class="stripy-border"> HELLO! </div> */

.stripy-border {
  border-width: 2px;
  border-style: dashed;
  border-color: red;
}

/* Some styles for the youtube video at the bottom */
.center-embedded-video > iframe {
  display: block;
  margin: 0 auto;
}
